p {
   text-indent: 10px;
   margin-left:20px;
}

h1 {
   text-align: center;
   color : blue;
 }
a {
  color : green;
   text-decoration : none;
  }
i{
  font-style :italic;
}
b{
  ont-weight :  bold;
}
