p {
   text-indent: 10px;
   margin-left:20px;
}

h1 {
   text-align: center;
   color : blue;
 }
a {
  color : green;
   text-decoration : none;
  }
i{
  font-style :italic;
}
b{
  ont-weight :  bold;
}
.textC {
   text-align:  center;
  }
!important  .textL {
     text-align:  left;
    }
    .textR{
       text-align:  right;
      }
.leftimg {
          float:left; /* Выравнивание по левому краю */
          margin: 7px 7px 7px 0; /* Отступы вокруг картинки */
         }
.rightimg  {
          float: right; /* Выравнивание по правому краю  */
          margin: 7px 0 7px 7px; /* Отступы вокруг картинки */
         }
         
